*

!.bash_aliases
!.bashrc
!.gitignore

!LICENSE
!README.md

docker-compose/*
!docker-compose/.env.example
!docker-compose/docker-compose.yml
!docker-compose/docker-compose.prod.example.yml

letsencrypt/nginx/*
letsencrypt/nginx/site-confs/*
!letsencrypt/nginx/*.conf
!letsencrypt/nginx/site-confs/default

nginx_internal/nginx/conf.d/*
!nginx_internal/nginx/conf.d/*.conf

openvpn_client/*
!openvpn_client/vpn.cert_auth.example
!openvpn_client/vpn.conf.example
